/*******************************************************
/* Site Colors
/********************************************************
#523249
#322B25
#FFFFFF
#F4F4F4
#DBEBC0
*/

/*******************************************************
/* Global Styles
/********************************************************/

/* Universal selector - clear browser defaults */
* {
    /* set box sizing to border-box */
    box-sizing: border-box;
    /* clear margin and padding */
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    /* Set font properties (size, color, family) */
    font-family: Arial, Helvetica, sans-serif;
    /* Create some spacing between each line of page */
    line-height: 1.7em;

}

/* Container is a div in each section, which wraps content to center */
.container {
    /* Set the max width as percentage and center with margin */
    max-width: 70%;
    margin: 3px auto;
   /* This hides scrollbars if content is too big for container and also clears floats (for branding and nav) */
    overflow: hidden;
}

/* All the anchor tags on the page */
a {
    /* Remove underlining and set text color */
    text-decoration: none;
    color:white;
}

/* All the anchor tags in hover state */
a:hover {
    /* Set the text color */
    color:white;
}

/* Base button style for both the dark and light buttons */
button {
    margin: 10px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: bold;
}

/* Dark button (adds on to styles of button) */
.btn-dark {
    background: #523249;
    color:white;
}

/* Light button (adds on to styles of button) */
.btn-light {
    background: #DBEBC0;
    color: #322B25;
}

/*******************************************************
/* Header - contains brand and nav bar
/********************************************************/

/* Header section */
header {
    /* Set background, height, padding and border */
    background-color:#322B25;
    padding: 40px 20px;
    border-color: #DBEBC0;
}

/* Galactic Coffee logo */
header .brand {
    /* Position by floating left */
    float: left;
}

/* Main navigation */
header nav {
    /* Position by floating right (no need to clear float, container is overflow:hidden which takes care of this) */
    float: right;
}

/* Navigation item */
header li {
    /* Set display to inline-block (no need to float if we do this) */
    display:inline;
    /* Create space between each item by setting padding */
    padding:20px;
}

/* Selector targets the first word of the brand "Galactic" */
header .brand em {
    /* Set the text color */
    color:#dbebc0;
}

/* Banner - contains tagline for site with background image */
#banner {
    /* Set the minimum height */
    min-height: 300px;
    /* Center text */
    text-align: center;
    color:white;
    /* Place the appropriate background image - should start on right top and cover the area */
    background-image: url('../images/coffee-beans.jpg');
    background-position: right top;
    background-size: cover;

}

/* The first sentence in the banner */
#banner h2 {
    /* Set to a large font size and set margins for positioning properly */
    font-size:48px;
    margin:20px;
}

/* The remainder of the text in banner */
#banner p {
    /* Set font size and position property with margins */
}

/*******************************************************
/* Subscription section - subscribe to daily menu
/********************************************************/

 /* Main section for subscription */
#subscription {
    /* Set padding and background */
}

/* Text for subcription section */
#subscription h2 {
    /* Float left and set the margin */
}

/* Subscription form */
#subscription form {
    /* Float right. No need to clear the float b/c of overflow:hidden on container */
}

/* Input field in subscription form */
#subscription input[type="email"] {
    /* Set display to inline-block, height, width, padding */
}

/*******************************************************
/* Amenities
/********************************************************/

/* Amenities section */
#amenities {
    /* Set margin */
    /* Set text color and align center */
}

/* Feature box within the amenities (there are 3 in total) */
#amenities .feature {
    /* Float each feature left ... no need to clear b/c of the container */
    /* Set each width as percentage */
    /* Set padding within each feature */
}

/* Feature image */
#amenities .feature img {
    /* Set width to 100% of parent element */
    /* Set border radius to round corners of image */
}

/*******************************************************
/* Footer
/********************************************************/
footer {
    /* Set margin, background color, padding and align text to the center */
}